<br/>
<br/>
<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe.imageLocation}}" alt="" class="image-responsive"
    style="max-height: 150px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1> {{selectedRecipe.name}}</h1>
  </div>
</div>
<!--
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" >
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"> To shopping list</a> </li>
        <li> <a href="#"> Edit Recipe</a>  </li>
        <li> <a href="#"> Delete Recipe</a> </li>
      </ul>
    </div>
  </div>
</div>-->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Manage Recipe
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a (click)="onAddToRecipeList()">To shopping list</a></li>
    <li><a href="#">Edit Recipe</a></li>
    <li><a href="#">Delete Recipe</a></li>
  </ul>
</div>

<div class="row">
  <div class="col-xs-12">
    {{selectedRecipe.description}}
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of selectedRecipe.ingredients">
        {{ing.name}} :  {{ing.price}}
      </li>
    </ul>
  </div>
</div>
